@use "./variables" as *;

// Global reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global styles 
body {
  font-family: $font-family-regular;
}

a {
  text-decoration: none;      
  
  &:hover, 
  &:visited, 
  &:active {
    @extend a;
    color: inherit;
  }
  
  &:focus {
    color: inherit;
    outline: 0.063rem solid $white;
  }
}

ul {
  list-style: none;

  a {
    text-decoration: none;      
  }
}
