@use "./variables" as *;

// Font-face rules:
@font-face {
  font-family: 'AvenirNextRegular';
  src: url('/assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'), 
  url('/assets/fonts/AvenirNextLTPro-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;  
}

// Demi
@font-face {
  font-family: 'AvenirNextDemi';
  src: url('/assets/fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('/assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Bold
@font-face {
  font-family: 'AvenirNextBold'; 
  src: url('/assets/fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('/assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Font Family
$font-family-regular: "AvenirNextRegular";
$font-family-demi: "AvenirNextDemi";
$font-family-bold: "AvenirNextBold";


// // Page Header for h1: 
@mixin page-header($font-family: $font-family-bold, $font-size: $font-size-h1-mobile, $line-height: $font-line-height-h1-mobile, $font-weight: $font-weight-h1-tablet) {    
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
  
  @media (min-width: $tablet-width) {
    font-size: $font-size-h1-tablet;
    line-height: $font-line-height-h1-tablet;
  }
}

// // Section Header for h2: 
@mixin section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: $font-family-bold;
    
  // Tablet or Desktop 
    @media (min-width: $tablet-width) {
      font-size: 2.25rem;
      line-height: 2.75rem;
  }
}

//  Sub Header for h3 
@mixin sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 2rem;
  }
}

//  Social Icons (same as h3)
@mixin social-icons {
  font-size: 0.625rem;
  line-height: 1.375rem;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 0.75rem;
    line-height: 2rem;
  }
}

// Quote q tags 
@mixin quote { 
  font-size: 1.25rem; 
  line-height: 1.75rem;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

// Source cite tags `
@mixin source {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: normal;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@mixin body-copy($font-size: 0.813rem, $line-height: 1.125rem, $font-family: $font-family-regular, $tablet-font-size: 0.875rem, $tablet-line-height: 1.375rem) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;

  @media (min-width: $tablet-width) {
    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
  }
}

// Global reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global styles 
body {
  font-family: $font-family-regular;
}

a {
  text-decoration: none;      
  
  &:hover, 
  &:visited, 
  &:active {
    @extend a;
    color: inherit;
  }
  
  // &:focus {
  //   color: inherit;
  //   outline: 0.063rem solid $white;
  // }
}

ul {
  list-style: none;

  a {
    text-decoration: none;      
  }
}

// Margins:

// margin-top
@mixin margin-top($default-margin: 1rem, $tablet-desktop-margin: 2.25rem) {
  margin-top: $default-margin;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    margin-top: $tablet-desktop-margin;
  }
}
 
// margin-bottom
@mixin margin-bottom($default-margin: 1rem, $tablet-desktop-margin: 2.25rem) {
  margin-bottom: $default-margin;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    margin-bottom: $tablet-desktop-margin;
  }
}

// margin-block (margin top & margin-bottom)
@mixin margin-block($default-margin-top: 1rem, $default-margin-bottom: 1rem, $tablet-desktop-margin-top: 2.25rem, $tablet-desktop-margin-bottom: 2.25rem) {
  margin-top: $default-margin-top;
  margin-bottom: $default-margin-bottom;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    margin-top: $tablet-desktop-margin-top;
    margin-bottom: $tablet-desktop-margin-bottom;
  }
}

// margin-inline (
@mixin margin-inline($default-margin: 1rem, $tablet-desktop-margin: 2.25rem) {
  margin-inline: $default-margin;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    margin-inline: $tablet-desktop-margin;
  }
}

// Paddings:


// For h1
@mixin padding-before-headlines($default-padding-left: 1.5rem, $default-tablet-padding-left: 3rem) {
  padding-left: $default-padding-left;

  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-left: $default-tablet-padding-left;
  }
}

@mixin padding-after-headlines($default-padding-right: 1rem, $default-tablet-padding-right: 2.25rem) {
  padding-right: $default-padding-right;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-right: $default-tablet-padding-right;
  }
}


// Gap Mixin (padding between eelements in style guide)
@mixin padding-between-components-gap($default-gap: 1rem, $default-gap-tablet: 2.25rem) {
  gap: $default-gap;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    gap: $default-gap-tablet;
  }
}

@mixin padding-between-components-top($default-padding-top: 1rem, $default-tablet-padding-top: 2.25rem) {
  padding-top: $default-padding-top;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-top: $default-tablet-padding-top;
  }
}

@mixin padding-between-components-bottom($default-padding-bottom: 1rem, $default-tablet-padding-bottom: 2.25rem) {
  padding-bottom: $default-padding-bottom;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-bottom: $default-tablet-padding-bottom;
  }
}

// margin-inline (
  @mixin padding-inline($default-padding: 1rem, $default-tablet-padding: 2.25rem) {
    padding-inline: $default-padding;
    
    // Tablet or Desktop
    @media (min-width: $tablet-width) {
      padding-inline: $default-tablet-padding;
    }
  }
  


// Spacings - Padding - Mobile:
@mixin padding-before-headlines {
  padding-left: 1.5rem;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-left: 3rem;
  }
}

@mixin padding-after-headlines {
  padding-right: 1rem;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-right: 2.25rem;
  }
}

@mixin padding-between-components {
  gap: 1rem;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    gap: 2.25rem;
  }
}

// Nav
.nav-bar__container {
  align-items: center;
  background: $band-site-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar__nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: min(100%, $desktop-width);
  
  @media screen and (min-width: $tablet-width) {
    & {
      flex-direction: row;
      padding-top: 2.5rem;
    }
  }
}

.nav-bar__logo {
  // stylesheet specifies logo to always be 20px (1.25rem) x 120px (7.5rem)
  @include margin-top($default-margin: 2rem);
  height: 1.25rem;
  width: 7.5rem;
  
  @media screen and (min-width: $tablet-width) {
    @include margin-inline($default-margin: 3rem);
    @include margin-bottom($default-margin: 2rem);
    margin-top: 0;
  }
}

.nav-bar__menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
  @media screen and (min-width: $tablet-width) {
    @include padding-between-components-gap;
      justify-content: flex-start;
  }
  
  &--active-option,
  .menu-option--active {
    color: $white;
    font-family: $font-family-demi;
  }
  
  &--inactive-option,
  .menu-option--inactive {
    color: $mercury;
    font-family: $font-family-regular;
  }
}

.nav-bar__menu--active-option,
.nav-bar__menu--inactive-option {
  @include padding-between-components-bottom;
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    flex-grow: 0;
  }
}

.nav-bar__menu--active-option {
  border-bottom: 0.188rem solid $white;
}

.nav-bar__menu--inactive-option {
  border-bottom: 0.188rem solid $mercury-opacity-zero;
  
  &:hover {
    border-bottom: 0.188rem solid $mercury;
    font-family: $font-family-demi;
    transition: all 0.5s ease;
  }
}



// Footer Section
.footer-section {
  background: $band-site-black;
  width: 100%;
  @include padding-between-components-bottom;
  
  &__content-container {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    width: min(100%, $desktop-width);
  }
}


.socials__container {
  @include padding-between-components-bottom;
  @include padding-between-components-gap;
  @include padding-between-components-top;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.socials__heading {
  @include sub-header;
}

.social-icon__container {
  @include padding-between-components-gap;
  display: flex;  
}

.social-icon {
  @include social-icons;
}

.socials__heading {
  @include padding-between-components-bottom;
  @include section-header;
}

.management__container {
  @include padding-between-components-gap;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 2rem;
    flex-direction: row;
  }
}

.manager__name,
.manager__role {
  @include body-copy($line-height: 1.75, $font-family: $font-family-bold, $tablet-line-height: 1.75);
  font-family: $font-family-demi;
  white-space: nowrap;
}

.manager__role {
  @include padding-between-components-bottom;
}

.manager__email {
  @include padding-between-components-top;
  
  .manager__email--word-break {
    overflow-wrap: break-word;
  }

    & a {
      color: inherit;
    }

  .manager__email--no-wrap {
    white-space: nowrap;
  }
}

.manager__address {
  @include body-copy($line-height: 1.75, $tablet-line-height: 1.75);
}

.management,
.management--us-south-america-japan,
.management--uk-eu-au {
  max-width: 100%;
  
  @media screen and (min-width: $tablet-width) {
      max-width: 29%;
  }
}

.footer__logo {
  @include margin-block;
  // *specs say logo should always be 20px x 120px but it seems far too small for the footer logo: I have doubled those dimensions here
  height: 2.5rem;
  width: 8.75rem;

  @media screen and (min-width: $tablet-width) {
      margin-left: 0rem;
      position: absolute;
      right: 2rem;
      top: 0;
  }
}

