@use "./variables" as *;

// Global reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global styles

body {
  font-family: $font-family;
  font-weight: $default-font-weight;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover, 
  &:visited, 
  &:active {
    @extend a;
  }
}

ul {
  list-style: none;
}
