@use "./variables" as *;


// For h1
@mixin padding-before-headlines {
  padding-left: 24px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-left: 48px;
  }
}
 
@mixin padding-after-headlines {
  padding-right: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-right: 36px;
  }
}


// 2 padding-between-elements given: use for horizontal? Mixin or custom variable?
@mixin padding-between-components-gap($default-gap: 16px, $default-gap-tablet: 36px) {
  gap: $default-gap;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    gap: $default-gap-tablet;
  }
}

@mixin padding-between-components-top {
  padding-top: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-top: 36px;
  }
}

@mixin padding-between-components-bottom {
  padding-bottom: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-bottom: 36px;
  }
}

// margin-inline (
  @mixin padding-inline($default-padding: 16px, $tablet-desktop-padding: 36px) {
    padding-inline: $default-padding;
    
    // Tablet or Desktop
    @media (min-width: $tablet-width) {
      padding-inline: $tablet-desktop-padding;
    }
  }
  