
// For h1
@mixin padding-before-headlines {
  padding-left: 24px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-left: 48px;
  }
}
 
@mixin padding-after-headlines {
  padding-right: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-right: 36px;
  }
}


// 2 padding-between-elements given: use for horizontal? Mixin or custom variable?
@mixin padding-between-components-gap {
  gap: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    gap: 36px;
  }
}

@mixin padding-between-components-top {
  padding-top: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-top: 36px;
  }
}

@mixin padding-between-components-bottom {
  padding-bottom: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-bottom: 36px;
  }
}