@use "./variables" as *;


// For h1
@mixin padding-before-headlines($default-padding-left: 1.5rem, $default-tablet-padding-left: 3rem) {
  padding-left: $default-padding-left;

  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-left: $default-tablet-padding-left;
  }
}

@mixin padding-after-headlines($default-padding-right: 1rem, $default-tablet-padding-right: 2.25rem) {
  padding-right: $default-padding-right;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-right: $default-tablet-padding-right;
  }
}


// Gap Mixin (padding between eelements in style guide)
@mixin padding-between-components-gap($default-gap: 1rem, $default-gap-tablet: 2.25rem) {
  gap: $default-gap;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    gap: $default-gap-tablet;
  }
}

@mixin padding-between-components-top($default-padding-top: 1rem, $default-tablet-padding-top: 2.25rem) {
  padding-top: $default-padding-top;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-top: $default-tablet-padding-top;
  }
}

@mixin padding-between-components-bottom($default-padding-bottom: 1rem, $default-tablet-padding-bottom: 2.25rem) {
  padding-bottom: $default-padding-bottom;
  
  // Tablet or Desktop
  @media (min-width: $tablet-width) {
    padding-bottom: $default-tablet-padding-bottom;
  }
}

// margin-inline (
  @mixin padding-inline($default-padding: 1rem, $default-tablet-padding: 2.25rem) {
    padding-inline: $default-padding;
    
    // Tablet or Desktop
    @media (min-width: $tablet-width) {
      padding-inline: $default-tablet-padding;
    }
  }
  