@use "./fonts" as *;
@use "./variables" as *;


// // Page Header for h1: works
@mixin page-header($font-family: $font-family-bold, $font-size: $font-size-h1-mobile, $line-height: $font-line-height-h1-mobile, $font-weight: $font-weight-h1-tablet) {    
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
  
  @media (min-width: 768px) {
    font-size: $font-size-h1-tablet;
    line-height: $font-line-height-h1-tablet;
  }
}



// // Section Header for h2: works
@mixin section-header {
    font-size: 24px;
    line-height: 32px;
    font-family: $font-family-bold;
    
  // Tablet or Desktop 
    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 44px;
  }
}

//  Sub Header for h3 works
@mixin sub-header {
  font-size: 14px;
  line-height: 22px;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 32px;
  }
}

//  Social Icons (same as h3)
@mixin social-icons {
  font-size: 10px;
  line-height: 22px;
  
// Tablet or Desktop 
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 32px;
  }
}


// Quote q tags works
@mixin quote { 
  font-size: 20px; 
  line-height: 28px;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 34px;
  }
}

// Source cite tags works
@mixin source {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}


// //  Body Copy works
// @mixin body-copy($font-size: 13px, $line-height: 18px, $font-family: "AvenirNextRegular", $tablet-font-size: 14px, $tablet-line-height: 22px) {
//   font-size: $font-size;
//   line-height: $line-height;
//   font-family: $font-family;

//   @media (min-width: 768px) {
//     font-size: $tablet-font-size;
//     line-height: $tablet-line-height;
//   }
// }


@mixin body-copy($font-size: 13px, $line-height: 18px, $font-family: "AvenirNextRegular", $tablet-font-size: 14px, $tablet-line-height: 22px) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;

  @media (min-width: 768px) {
    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
  }
}

