@use "./fonts" as *;
@use "./variables" as *;


// // Page Header for h1: works
@mixin page-header($font-family: $font-family-bold, $font-size: $font-size-h1-mobile, $line-height: $font-line-height-h1-mobile, $font-weight: $font-weight-h1-tablet) {    
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
  
  @media (min-width: $tablet-width) {
    font-size: $font-size-h1-tablet;
    line-height: $font-line-height-h1-tablet;
  }
}

// // Section Header for h2: works
@mixin section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: $font-family-bold;
    
  // Tablet or Desktop 
    @media (min-width: $tablet-width) {
      font-size: 2.25rem;
      line-height: 2.75rem;
  }
}

//  Sub Header for h3 works
@mixin sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 2rem;
  }
}

//  Social Icons (same as h3)
@mixin social-icons {
  font-size: 0.625rem;
  line-height: 1.375rem;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 0.75rem;
    line-height: 2rem;
  }
}

// Quote q tags works
@mixin quote { 
  font-size: 1.25rem; 
  line-height: 1.75rem;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

// Source cite tags works
@mixin source {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: normal;
  font-family: $font-family-demi;
  
// Tablet or Desktop 
  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@mixin body-copy($font-size: 0.813rem, $line-height: 1.125rem, $font-family: $font-family-regular, $tablet-font-size: 0.875rem, $tablet-line-height: 1.375rem) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;

  @media (min-width: $tablet-width) {
    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
  }
}

