@use "./fonts" as *;

// Break Points
$tablet-width: 768px;
$desktop-width: 1280px;
$landscape: landscape;


// Font Family
$font-family: "AvenirNextRegular";
// demi (?)
// bold (?)
$default-font-weight: 400;

// Fonts - Page- Header - Mobile:
$font-size-h1-mobile: 24px;
$font-line-height-h1-mobile: 32px;
$font-weight-h1-mobile: 700;
 
// Fonts - Page- Header - Tablet & Desktop:
$font-size-h1-tablet: 60px;
$font-line-height-h1-tablet: 68px;
$font-weight-h1-tablet: 700;


// Fonts - Section-Header - Mobile:
$font-size-h2-mobile: 24px;
$font-line-height-h2-mobile: 32px;
$font-weight-h2-tablet: 700;

// Fonts - Section-Header - Tablet:
$font-size-h2-tablet: 36px;
$font-line-height-h2-tablet: 44px;
$font-weight-h2-tablet: 700;


// Fonts - Subheader - Mobile:
$font-size-h3-mobile: 14px;
$font-line-height-h3-mobile: 22px;
$font-weight-h3-tablet: 600;

// Fonts - Subheader - Tablet:
$font-size-h3-tablet: 24px;
$font-line-height-h3-tablet: 32px;
$font-weight-h3-tablet: 600;


// Fonts - Body Copy - Mobile:
$font-size-body-mobile: 13px;
$font-line-height-body-mobile: 18px;
$font-weight-body-tablet: 400;

// Fonts - Body Copy - Tablet:
$font-size-body-tablet: 14px;
$font-line-height-body-tablet: 22px;
$font-weight-body-tablet: 400;


// Fonts - Footer Copy - Mobile:
$font-size-footer-mobile: 13px;
$font-line-height-footer-mobile: 18px;
$font-weight-footer-tablet: 400;

// Fonts - Footer Copy - Tablet:
$font-size-footer-tablet: 14px;
$font-line-height-footer-tablet: 20px;
$font-weight-footer-tablet: 400;


// Fonts - Label & Button - Mobile:
$font-size-label-button-mobile: 10px;
$font-line-height-label-button-mobile: 20px;
$font-weight-label-button-tablet: 700;

// Fonts - Label & Button - Tablet:
$font-size-label-button-tablet: 12px;
$font-line-height-label-button-tablet: 20px;
$font-weight-label-button-tablet: 700;



// Use of Variables: values defined once which can be used in many places; update definition to change the value being used everywhere it is in the css/scss


// Animation Timings:


// Border Radiuses:


// Box Shadows:


// Colors - Primary:
$band-site-black: #323232;
$silver: #afafaf;
$white: #fff;

// Colors - Secondary:
$band-site-dark-black: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$hero-image-overlay-color: rgba(50, 50, 50, 0.5);


// Font Sizes - Mobile: 


// Font Sizes - Tablet:


// Font Sizes - Desktop:



// Spacings - Padding - Mobile:




@mixin padding-before-headlines {
  padding-left: 24px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-left: 48px;
  }
}

@mixin padding-after-headlines {
  padding-right: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    padding-right: 36px;
  }
}

@mixin padding-between-components {
  gap: 16px;
  
  // Tablet or Desktop
  @media (min-width: 768px) {
    gap: 36px;
  }
}






// Spacings - Padding - Tablet:

// Spacings - Padding - Desktop:


// Spacings - Margins - Mobile:

// Spacings - Margins - Tablet:

// Spacings - Margins - Desktop:





