
// Break Points: should these be relative? 
$tablet-width: 678px;
$desktop-width: 1280px;

// Fonts - Page- Header - Mobile:
$font-size-h1-mobile: 1.5rem;
$font-line-height-h1-mobile: 2rem; 
$font-weight-h1-mobile: 700;

// Fonts - Page- Header - Tablet & Desktop:
$font-size-h1-tablet: 3.75rem;
$font-line-height-h1-tablet: 4.25rem;
$font-weight-h1-tablet: 700;


// Fonts - Section-Header - Mobile:
$font-size-h2-mobile: 1.5rem;
$font-line-height-h2-mobile: 2rem;
$font-weight-h2-tablet: 700;


// Fonts - Section-Header - Tablet:
$font-size-h2-tablet: 2.25rem;
$font-line-height-h2-tablet: 2.75rem;
$font-weight-h2-tablet: 700;


// Fonts - Subheader - Mobile:
$font-size-h3-mobile: 0.875rem;
$font-line-height-h3-mobile: 1.375rem;
$font-weight-h3-tablet: 600;

// Fonts - Subheader - Tablet:
$font-size-h3-tablet: 1.5rem;
$font-line-height-h3-tablet: 2rem;
$font-weight-h3-tablet: 600;


// Fonts - Body Copy - Mobile:
$font-size-body-mobile: 0.813rem;
$font-line-height-body-mobile: 1.125rem;
$font-weight-body-tablet: 400;

// Fonts - Body Copy - Tablet:
$font-size-body-tablet: 0.875rem;
$font-line-height-body-tablet: 1.375rem;
$font-weight-body-tablet: 400;


// Fonts - Footer Copy - Mobile:
$font-size-footer-mobile: 0.813rem;
$font-line-height-footer-mobile: 1.125rem;
$font-weight-footer-tablet: 400;

// Fonts - Footer Copy - Tablet:
$font-size-footer-tablet: 0.875rem;
$font-line-height-footer-tablet: 1.25rem;
$font-weight-footer-tablet: 400;


// Fonts - Label & Button - Mobile:
$font-size-label-button-mobile: 0.625rem;
$font-line-height-label-button-mobile: 1.25rem;
$font-weight-label-button-tablet: 700;

// Fonts - Label & Button - Tablet:
$font-size-label-button-tablet: 0.75rem;
$font-line-height-label-button-tablet: 1.25rem;
$font-weight-label-button-tablet: 700;


// Colors - Primary:
$band-site-black: #323232;
$silver: #afafaf;
$white: #fff;

// Colors - Secondary:
$band-site-dark-black: #000;
$mercury: #e1e1e1;
$mercury-opacity-zero: rgba(225, 225, 225, 0);
$alabaster: #fafafa;
$hero-image-overlay-color: rgba(50, 50, 50, 0.5);

