@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext";
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: inherit;
}

.nav-bar__container {
  align-items: center;
  background: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar__nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: min(100%, 1280px);
}
@media screen and (min-width: 678px) {
  .nav-bar__nav {
    flex-direction: row;
    padding-top: 2.5rem;
  }
}

.nav-bar__logo {
  height: 1.25rem;
  width: 7.5rem;
}
@media (max-width: 677px) {
  .nav-bar__logo {
    margin-top: 2rem;
  }
}
@media (min-width: 678px) {
  .nav-bar__logo {
    margin-top: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .nav-bar__logo {
    margin-top: 0;
  }
}
@media screen and (min-width: 678px) and (max-width: 677px) {
  .nav-bar__logo {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 678px) and (min-width: 678px) {
  .nav-bar__logo {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 678px) and (max-width: 677px) {
  .nav-bar__logo {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 678px) and (min-width: 678px) {
  .nav-bar__logo {
    margin-bottom: 2rem;
  }
}

.nav-bar__menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 678px) {
  .nav-bar__menu {
    gap: 1rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 678px) and (min-width: 678px) {
  .nav-bar__menu {
    gap: 2.25rem;
  }
}
.nav-bar__menu--active-option,
.nav-bar__menu .menu-option--active {
  color: #fff;
  font-weight: 600;
}
.nav-bar__menu--inactive-option,
.nav-bar__menu .menu-option--inactive {
  color: #e1e1e1;
}

.nav-bar__menu--active-option,
.nav-bar__menu--inactive-option {
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}
@media (min-width: 678px) {
  .nav-bar__menu--active-option,
  .nav-bar__menu--inactive-option {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .nav-bar__menu--active-option,
  .nav-bar__menu--inactive-option {
    flex-grow: 0;
  }
}

.nav-bar__menu--active-option {
  border-bottom: 0.188rem solid #fff;
}

.nav-bar__menu--inactive-option {
  border-bottom: 0.188rem solid rgba(225, 225, 225, 0);
}
.nav-bar__menu--inactive-option:hover {
  border-bottom: 0.188rem solid #e1e1e1;
  font-weight: 600;
  transition: all 0.5s ease;
}

.footer-section {
  background: #323232;
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 678px) {
  .footer-section {
    padding-bottom: 2.25rem;
  }
}
.footer-section__content-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  width: min(100%, 1280px);
}

.socials__container {
  padding-bottom: 1rem;
  gap: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 678px) {
  .socials__container {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 678px) {
  .socials__container {
    gap: 2.25rem;
  }
}
@media (min-width: 678px) {
  .socials__container {
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .socials__container {
    flex-direction: row;
  }
}

@media (max-width: 677px) {
  .socials__heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}
@media (min-width: 678px) {
  .socials__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

.social-icon__container {
  gap: 1rem;
  display: flex;
}
@media (min-width: 678px) {
  .social-icon__container {
    gap: 2.25rem;
  }
}

@media (max-width: 677px) {
  .social-icon {
    font-size: 0.625rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 678px) {
  .social-icon {
    font-size: 0.75rem;
    line-height: 2rem;
  }
}

.socials__heading {
  padding-bottom: 1rem;
}
@media (min-width: 678px) {
  .socials__heading {
    padding-bottom: 2.25rem;
  }
}
@media (max-width: 677px) {
  .socials__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}
@media (min-width: 678px) {
  .socials__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
}

.management__container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media (min-width: 678px) {
  .management__container {
    gap: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .management__container {
    margin-bottom: 2rem;
    flex-direction: row;
  }
}

.manager__name,
.manager__role {
  white-space: nowrap;
}
@media (max-width: 677px) {
  .manager__name,
  .manager__role {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.75;
  }
}
@media (min-width: 678px) {
  .manager__name,
  .manager__role {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75;
  }
}

.manager__role {
  padding-bottom: 1rem;
}
@media (min-width: 678px) {
  .manager__role {
    padding-bottom: 2.25rem;
  }
}

.manager__email {
  padding-top: 1rem;
}
@media (min-width: 678px) {
  .manager__email {
    padding-top: 2.25rem;
  }
}
.manager__email .manager__email--word-break {
  overflow-wrap: break-word;
}
.manager__email a {
  color: inherit;
}
.manager__email .manager__email--no-wrap {
  white-space: nowrap;
}

@media (max-width: 677px) {
  .manager__address {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.75;
  }
}
@media (min-width: 678px) {
  .manager__address {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
  }
}

.management,
.management--us-south-america-japan,
.management--uk-eu-au {
  max-width: 100%;
}
@media screen and (min-width: 678px) {
  .management,
  .management--us-south-america-japan,
  .management--uk-eu-au {
    max-width: 29%;
  }
}

.footer__logo {
  height: 2.5rem;
  width: 8.75rem;
}
@media (max-width: 677px) {
  .footer__logo {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 678px) {
  .footer__logo {
    margin-bottom: 2.25rem;
    margin-top: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .footer__logo {
    margin-left: 0rem;
    position: absolute;
    right: 2rem;
    top: 0;
  }
}

.hero-section {
  background: url("../assets/images/hero-bio.jpg") center center/cover;
  color: #fff;
  position: relative;
  width: 100%;
}
.hero-section__image-description {
  display: none;
}
.hero-section__image-overlay {
  background: rgba(50, 50, 50, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-section__content-container {
  align-items: center;
  display: flex;
  height: calc(50vh - 3rem);
  margin: 0 auto;
  position: relative;
  width: min(100%, 1280px);
  z-index: 2;
}
@media screen and (min-width: 678px) {
  .hero-section__content-container {
    height: calc(100vh - 6rem);
  }
}

.hero-section__page-header {
  padding-left: 1.5rem;
}
@media (min-width: 678px) {
  .hero-section__page-header {
    padding-left: 3rem;
  }
}
@media (max-width: 677px) {
  .hero-section__page-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}
@media (min-width: 678px) {
  .hero-section__page-header {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
  }
}

.bio-section {
  width: 100%;
}
.bio-section__content-container {
  padding-bottom: 1rem;
  margin: 0 auto;
  width: min(100%, 1280px);
}
@media (min-width: 678px) {
  .bio-section__content-container {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .bio-section__content-container {
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 678px) and (min-width: 678px) {
  .bio-section__content-container {
    padding-inline: 2.25rem;
  }
}
.bio-section__heading {
  padding-left: 1.5rem;
  padding-top: 1rem;
}
@media (min-width: 678px) {
  .bio-section__heading {
    padding-left: 3rem;
  }
}
@media (min-width: 678px) {
  .bio-section__heading {
    padding-top: 2.25rem;
  }
}
@media (max-width: 677px) {
  .bio-section__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}
@media (min-width: 678px) {
  .bio-section__heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}
@media screen and (min-width: 678px) {
  .bio-section__heading {
    padding-left: 0;
  }
}
.bio-section__bio-article {
  padding-inline: 1rem;
}
@media (min-width: 678px) {
  .bio-section__bio-article {
    padding-inline: 2.25rem;
  }
}

@media screen and (min-width: 678px) {
  .bio-article__content-container {
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 678px) and (min-width: 678px) {
  .bio-article__content-container {
    padding-inline: 2.25rem;
  }
}

.bio-article__hero-image {
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 678px) {
  .bio-article__hero-image {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 678px) {
  .bio-article__hero-image {
    padding-top: 2.25rem;
  }
}

.bio-article__quote, .bio-article__source {
  padding-bottom: 1rem;
  display: block;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.094rem;
}
@media (min-width: 678px) {
  .bio-article__quote, .bio-article__source {
    padding-bottom: 2.25rem;
  }
}
@media (max-width: 677px) {
  .bio-article__quote, .bio-article__source {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 678px) {
  .bio-article__quote, .bio-article__source {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-article__quote, .bio-article__source {
    max-width: 75%;
  }
}

.bio-section__subheader {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 600;
}
@media (min-width: 678px) {
  .bio-section__subheader {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 678px) {
  .bio-section__subheader {
    padding-top: 2.25rem;
  }
}

.bio-section__paragraph-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 678px) {
  .bio-section__paragraph-container {
    gap: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .bio-section__paragraph-container {
    flex-direction: row;
  }
}

@media (max-width: 677px) {
  .bio-section__body-copy {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.75;
  }
}
@media (min-width: 678px) {
  .bio-section__body-copy {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
  }
}

.gallery-section {
  background: #fafafa;
  width: 100%;
}
.gallery-section__content-container {
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: min(100%, 1280px);
}
@media (min-width: 678px) {
  .gallery-section__content-container {
    padding-bottom: 2.25rem;
  }
}

.gallery__heading {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 678px) {
  .gallery__heading {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 678px) {
  .gallery__heading {
    padding-top: 2.25rem;
  }
}

.gallery {
  padding-inline: 1rem;
}
@media (min-width: 678px) {
  .gallery {
    padding-inline: 2.25rem;
  }
}
@media (max-width: 677px) {
  .gallery__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}
@media (min-width: 678px) {
  .gallery__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
}
.gallery__image-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 678px) {
  .gallery__image-container {
    gap: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .gallery__image-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery__image {
  max-width: 100%;
}
@media screen and (min-width: 678px) {
  .gallery__image {
    filter: grayscale(100%);
    max-width: 29%;
    transition: filter 0.3s ease;
  }
  .gallery__image:hover {
    filter: grayscale(0%);
  }
}

.comments {
  border: 2px solid red;
}
.comments__container {
  width: min(100%, 1280px);
  margin: 0 auto;
}/*# sourceMappingURL=bio.css.map */