@use "../styles/partials/variables" as *;
@use "./partials/global" as *;

// Hero Section
.hero-section {
  background: url("../assets/images/hero-bio.jpg") center center / cover;
  color: $white;
  position: relative;
  width: 100%;

  &__image-description {
    display: none;
  }
  
  &__image-overlay {
    background: $hero-image-overlay-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content-container {
    align-items: center;
    display: flex;
    height: calc(50vh - 3rem);
    margin: 0 auto;
    position: relative;
    width: min(100%, $desktop-width);
    z-index: 2;
    
    @media screen and (min-width: $tablet-width) {
      height: calc(100vh - 6rem);
    }
  }
}

.hero-section__page-header {
  @include padding-before-headlines;
  @include page-header;
}
    
// // Bio Section
.bio-section {
  width: 100%;

  &__content-container {
    @include padding-between-components-bottom;
    margin: 0 auto;
    width: min(100%, $desktop-width);
    
    @media screen and (min-width: $tablet-width) {
        @include padding-inline;
    }
  }
  
  &__heading {
    @include padding-before-headlines;
    @include padding-between-components-top;
    @include section-header($font-weight-tablet: 600);

    @media screen and (min-width: $tablet-width) {
      padding-left: 0;
    }
  }
  
  &__bio-article {
    @include padding-inline;
  }
}

.bio-article__content-container {

  @media screen and (min-width: $tablet-width) {
      @include padding-inline;
  }
}

.bio-article__hero-image {
  @include padding-between-components-bottom;
  @include padding-between-components-top;
  width: 100%;
}

.bio-article__quote {
  @include padding-between-components-bottom;
  @include quote;
  display: block;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.094rem;

  @media screen and (min-width: $desktop-width) {
    max-width: 75%;
  }
}

.bio-article__source {
  @extend .bio-article__quote;
}


.bio-section__subheader {
  @include padding-between-components-bottom;
  @include padding-between-components-top;
  font-weight: 600;
}

.bio-section__paragraph-container {
  @include padding-between-components-gap;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.bio-section__body-copy {
  @include body-copy($line-height-mobile: 1.75, $line-height-tablet: 1.75);
}

// // Gallery Section
.gallery-section {
  background: $alabaster;
  width: 100%;
  
  &__content-container {
    @include padding-between-components-bottom;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: min(100%, $desktop-width);
  }
}

.gallery__heading {
  @include padding-between-components-bottom;
  @include padding-between-components-top;
}

.gallery {
  @include padding-inline;
  
  &__heading {
    @include section-header;
  }
  
  &__image-container {
    @include padding-between-components-gap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    @media screen and (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.gallery__image {
  max-width: 100%;

  @media screen and (min-width: $tablet-width) {
    filter: grayscale(100%);
    max-width: 29%;
    transition: filter 0.3s ease;
  
    &:hover {
      filter: grayscale(0%);
    }
  }
}

// Footer Section
.footer-section {
  background: $band-site-black;
  width: 100%;
  @include padding-between-components-bottom;
  
  &__content-container {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    width: min(100%, $desktop-width);
  }
}


.socials__container {
  @include padding-between-components-bottom;
  @include padding-between-components-gap;
  @include padding-between-components-top;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.socials__heading {
  @include sub-header;
}

.social-icon__container {
  @include padding-between-components-gap;
  display: flex;  
}

.social-icon {
  @include social-icons;
}

.socials__heading {
  @include padding-between-components-bottom;
  @include section-header;
}

.management__container {
  @include padding-between-components-gap;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 2rem;
    flex-direction: row;
  }
}

.manager__name,
.manager__role {
  @include body-copy($line-height-mobile: 1.75, $line-height-tablet: 1.75, $font-weight-mobile: 600, $font-weight-tablet: 600);
  white-space: nowrap;
}

.manager__role {
  @include padding-between-components-bottom;
}

.manager__email {
  @include padding-between-components-top;
  
  .manager__email--word-break {
    overflow-wrap: break-word;
  }

    & a {
      color: inherit;
    }

  .manager__email--no-wrap {
    white-space: nowrap;
  }
}

.manager__address {
  @include body-copy($line-height-mobile: 1.75, $line-height-tablet: 1.75);
}

.management,
.management--us-south-america-japan,
.management--uk-eu-au {
  max-width: 100%;
  
  @media screen and (min-width: $tablet-width) {
      max-width: 29%;
  }
}

.footer__logo {
  @include margin-block;
  // *specs say logo should always be 20px x 120px but it seems far too small for the footer logo: I have doubled those dimensions here
  height: 2.5rem;
  width: 8.75rem;

  @media screen and (min-width: $tablet-width) {
      margin-left: 0rem;
      position: absolute;
      right: 2rem;
      top: 0;
  }
}
