@font-face {
  font-family: "AvenirNextRegular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextBold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNextRegular";
  font-weight: 400;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.nav-bar__container {
  align-items: center;
  background: #323232;
  border: 2px dashed #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-bar__nav {
  align-items: center;
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  width: min(100%, 1280px);
}
@media screen and (min-width: 768px) {
  .nav-bar__nav {
    flex-direction: row;
  }
}

.nav-bar__logo {
  height: 20px;
  width: 120px;
}

.nav-bar__menu {
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu {
    gap: 2rem;
    justify-content: flex-start;
  }
}

.menu-option--active, .menu-option--inactive {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.menu-option--active::after {
  content: "";
  background: white;
  bottom: 0;
  height: 2px;
  position: absolute;
  width: 100%;
}

.menu-option--inactive:hover::after {
  content: "";
  background: white;
  bottom: 0;
  height: 2px;
  position: absolute;
  width: 100%;
}

.hero-section {
  background: url("../assets/images/hero-bio.jpg") center center/cover;
  border: 5px solid red;
  width: 100%;
}
.hero-section__content-container {
  border: 2px dotted #000;
  margin: 0 auto;
  width: min(100%, 1280px);
}

.hero-section__bg-image {
  align-items: center;
  border: 2px solid blue;
  color: #fff;
  display: flex;
  height: 50vh;
  position: relative;
  width: 100%;
  z-index: 0;
}
@media screen and (orientation: landscape) {
  .hero-section__bg-image {
    height: 100vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section__bg-image {
    height: 100vh;
  }
}
.hero-section__bg-image .hero-section__image-overlay {
  background: rgba(50, 50, 50, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hero-section__page-header {
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirNextBold";
  z-index: 2;
}
@media (min-width: 768px) {
  .hero-section__page-header {
    font-size: 60px;
    line-height: 68px;
  }
}
.hero-section__page-header .hero-section__overlay {
  width: 100%;
}

.gallery__image {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    max-width: 30%;
  }
}

.bio-section {
  border: 5px solid red;
  width: 100%;
}
.bio-section__content-container {
  border: 2px dotted #000;
  margin: 0 auto;
  width: min(100%, 1280px);
  border: 3px solid green;
}
@media screen and (min-width: 768px) {
  .bio-section__content-container {
    padding: 0 1rem;
  }
}
.bio-section__bio-article {
  padding: 1rem;
}
.bio-section__heading {
  border: 2px solid red;
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirNextBold", Arial, sans-serif;
}
@media (min-width: 768px) {
  .bio-section__heading {
    font-size: 36px;
    line-height: 44px;
  }
}

.bio-article__quote {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-family: "AvenirNextDemi", Arial, sans-serif;
}
@media (min-width: 768px) {
  .bio-article__quote {
    font-size: 24px;
    line-height: 34px;
  }
}

.bio-article__source {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-family: "AvenirNextRegular", Arial, sans-serif;
}
@media (min-width: 768px) {
  .bio-article__source {
    font-size: 16px;
    line-height: 24px;
  }
}

.bio-article__hero-image {
  width: 100%;
}

.bio-section__subheader {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemi", Arial, sans-serif;
}
@media (min-width: 768px) {
  .bio-section__subheader {
    font-size: 16px;
    line-height: 32px;
  }
}

.bio-section__body-copy {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
}
@media (min-width: 768px) {
  .bio-section__body-copy {
    font-size: 14px;
    line-height: 22px;
  }
}

.bio-section__paragraph-container {
  border: 2px solid green;
  display: flex;
  flex: content;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraph-container {
    flex-direction: row;
  }
}

.gallery-section {
  border: 5px solid red;
  width: 100%;
}

.gallery-section__content-container {
  align-items: center;
  border: 2px dotted #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: min(100%, 1280px);
}

.gallery__heading {
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirNextBold", Arial, sans-serif;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 36px;
    line-height: 44px;
  }
}

.gallery {
  padding: 0 1rem;
}

.gallery__image-container {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__image-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer-section {
  background: #323232;
  border: 5px solid red;
  width: 100%;
}

.footer-section__content-container {
  border: 2px dotted #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  width: min(100%, 1280px);
}
.footer-section__content-container .footer__logo {
  height: 20px;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .footer-section__content-container .footer__logo {
    position: absolute;
    right: 1rem;
    top: 0;
  }
}

.socials__container {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .socials__container {
    flex-direction: row;
  }
}

.socials__heading {
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirNextBold", Arial, sans-serif;
}
@media (min-width: 768px) {
  .socials__heading {
    font-size: 36px;
    line-height: 44px;
  }
}

.management__container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .management__container {
    flex-direction: row;
  }
}/*# sourceMappingURL=bio.css.map */