@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext";
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
ul a {
  color: inherit;
  text-decoration: none;
}

.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: min(100%, 1280px);
}
@media (min-width: 678px) {
  .nav-bar {
    flex-direction: row;
    padding-top: 2.5rem;
  }
}
.nav-bar__container {
  align-items: center;
  background: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 677px) {
  .nav-bar__logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}
@media (max-width: 677px) and (max-width: 677px) {
  .nav-bar__logo {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
@media (max-width: 677px) and (min-width: 678px) {
  .nav-bar__logo {
    margin-bottom: 2.25rem;
    margin-top: 2.25rem;
  }
}
@media (min-width: 678px) and (max-width: 677px) {
  .nav-bar__logo {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 678px) and (min-width: 678px) {
  .nav-bar__logo {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 678px) and (max-width: 677px) {
  .nav-bar__logo {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 678px) and (min-width: 678px) {
  .nav-bar__logo {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}
.nav-bar__menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (min-width: 678px) {
  .nav-bar__menu {
    justify-content: flex-start;
  }
}
@media (min-width: 678px) and (max-width: 677px) {
  .nav-bar__menu {
    gap: 1rem;
  }
}
@media (min-width: 678px) and (min-width: 678px) {
  .nav-bar__menu {
    gap: 2.25rem;
  }
}
.nav-bar__menu-option, .nav-bar__menu-option--active {
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}
@media (min-width: 678px) {
  .nav-bar__menu-option, .nav-bar__menu-option--active {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 678px) {
  .nav-bar__menu-option, .nav-bar__menu-option--active {
    flex-grow: 0;
    min-width: 5.25rem;
    text-align: center;
  }
}
.nav-bar__menu-option {
  color: #e1e1e1;
  border-bottom: 0.188rem solid rgba(225, 225, 225, 0);
}
.nav-bar__menu-option:hover {
  border-bottom: 0.188rem solid #e1e1e1;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease;
}
.nav-bar__menu-option--active {
  border-bottom: 0.188rem solid #fff;
  color: #fff;
}
.nav-bar__menu-option--active:hover {
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease;
}

.footer-section {
  background: #323232;
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 678px) {
  .footer-section {
    padding-bottom: 2.25rem;
  }
}
.footer-section__content-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  width: min(100%, 1280px);
}

.socials__container {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 678px) {
  .socials__container {
    padding-bottom: 2.25rem;
  }
}
@media (max-width: 677px) {
  .socials__container {
    gap: 1rem;
  }
}
@media (min-width: 678px) {
  .socials__container {
    gap: 2.25rem;
  }
}
@media (max-width: 677px) {
  .socials__container {
    padding-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .socials__container {
    padding-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .socials__container {
    flex-direction: row;
  }
}

@media (max-width: 677px) {
  .socials__heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}
@media (min-width: 678px) {
  .socials__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

.social-icon__container {
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  display: flex;
}
@media (max-width: 677px) {
  .social-icon__container {
    gap: 1rem;
  }
}
@media (min-width: 678px) {
  .social-icon__container {
    gap: 2.25rem;
  }
}
@media (min-width: 678px) {
  .social-icon__container {
    padding-bottom: 2.25rem;
  }
}

.social-icon {
  height: 100%;
}

.socials__heading {
  padding-bottom: 1rem;
}
@media (min-width: 678px) {
  .socials__heading {
    padding-bottom: 2.25rem;
  }
}
@media (max-width: 677px) {
  .socials__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}
@media (min-width: 678px) {
  .socials__heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}

.management__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media (max-width: 677px) {
  .management__container {
    gap: 1rem;
  }
}
@media (min-width: 678px) {
  .management__container {
    gap: 2.25rem;
  }
}
@media (min-width: 678px) {
  .management__container {
    margin-bottom: 2rem;
    flex-direction: row;
  }
}

.manager__name,
.manager__role {
  white-space: nowrap;
}
@media (max-width: 677px) {
  .manager__name,
  .manager__role {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.75;
  }
}
@media (min-width: 678px) {
  .manager__name,
  .manager__role {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75;
  }
}

.manager__role {
  padding-bottom: 1rem;
}
@media (min-width: 678px) {
  .manager__role {
    padding-bottom: 2.25rem;
  }
}

.manager__email {
  padding-top: 1rem;
}
@media (max-width: 677px) {
  .manager__email {
    padding-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .manager__email {
    padding-top: 2.25rem;
  }
}
.manager__email .manager__email--word-break {
  overflow-wrap: break-word;
}
.manager__email a {
  color: inherit;
}
.manager__email .manager__email--no-wrap {
  white-space: nowrap;
}

@media (max-width: 677px) {
  .manager__address {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.75;
  }
}
@media (min-width: 678px) {
  .manager__address {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
  }
}

.management,
.management--us-south-america-japan,
.management--uk-eu-au {
  max-width: 100%;
}
@media (min-width: 678px) {
  .management,
  .management--us-south-america-japan,
  .management--uk-eu-au {
    max-width: 29%;
  }
}

.footer__logo {
  height: 2.5rem;
  width: 8.75rem;
}
@media (max-width: 677px) {
  .footer__logo {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 678px) {
  .footer__logo {
    margin-bottom: 2.25rem;
    margin-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .footer__logo {
    margin-left: 0rem;
    position: absolute;
    right: 2rem;
    top: 0;
  }
}

.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url("../assets/images/hero-shows.jpg") center center/cover;
  color: #fff;
  position: relative;
  width: 100%;
}
@media (max-width: 677px) {
  .hero {
    padding-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .hero {
    padding-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .hero {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .hero {
    height: calc(100vh - 6rem);
  }
}
.hero__image-description {
  display: none;
}
.hero__image-overlay {
  background: rgba(50, 50, 50, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero__content-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: calc(50vh - 3rem);
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: min(100%, 1280px);
  z-index: 2;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  .hero__content-container {
    flex-direction: row;
    align-items: center;
  }
}

.hero__page-header,
.hero__sub-header {
  padding-left: 1.5rem;
}
@media (min-width: 678px) {
  .hero__page-header,
  .hero__sub-header {
    padding-left: 3rem;
  }
}

.hero__page-header {
  max-width: 60%;
}
@media (max-width: 677px) {
  .hero__page-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
  }
}
@media (min-width: 678px) {
  .hero__page-header {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
  }
}
@media screen and (min-width: 678px) {
  .hero__page-header {
    max-width: min(90%, 40rem);
  }
}

.hero__sub-header {
  padding-bottom: 1rem;
}
@media (min-width: 678px) {
  .hero__sub-header {
    padding-bottom: 2.25rem;
  }
}
@media (max-width: 677px) {
  .hero__sub-header {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 22px;
  }
}
@media (min-width: 678px) {
  .hero__sub-header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 32px;
  }
}

.hero__song {
  padding-top: 2.5rem;
  border: none;
  height: 150px;
  outline: none;
  width: 100%;
}
@media (max-width: 677px) {
  .hero__song {
    padding-inline: 1.5rem;
  }
}
@media (min-width: 678px) {
  .hero__song {
    padding-inline: 2.25rem;
  }
}
@media (max-width: 677px) {
  .hero__song {
    padding-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .hero__song {
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 678px) {
  .hero__song {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__song {
    max-width: 40rem;
  }
}

.shows {
  width: 100%;
}
@media (max-width: 677px) {
  .shows {
    padding-inline: 1rem;
  }
}
@media (min-width: 678px) {
  .shows {
    padding-inline: 2.25rem;
  }
}
@media (max-width: 677px) {
  .shows {
    padding-bottom: 1rem;
    padding-top: 0rem;
  }
}
@media (min-width: 678px) {
  .shows {
    padding-bottom: 2.25rem;
    padding-top: 2.25rem;
  }
}

.shows__content-container {
  width: min(100%, 1280px);
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .shows__content-container {
    display: flex;
  }
}

.shows-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 678px) {
  .shows-container > .show:first-child {
    border: none;
  }
}
@media (min-width: 1280px) and (max-width: 677px) {
  .shows-container {
    margin-left: 1rem;
    margin-right: 0;
  }
}
@media (min-width: 1280px) and (min-width: 678px) {
  .shows-container {
    margin-left: 2.25rem;
    margin-right: 0;
  }
}

.shows__heading {
  padding-left: 1rem;
  width: 20%;
}
@media (max-width: 677px) {
  .shows__heading {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 678px) {
  .shows__heading {
    padding-bottom: 2.25rem;
    padding-top: 2.25rem;
  }
}
@media (max-width: 677px) {
  .shows__heading {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 32px;
  }
}
@media (min-width: 678px) {
  .shows__heading {
    font-size: 3rem;
    font-weight: 600;
    line-height: 68px;
  }
}

.show {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}
.show:first-child {
  display: none;
}
.show:not(:first-child):hover {
  transition: all 0.5s ease;
  background: orange;
}
@media screen and (min-width: 678px) {
  .show {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .show:first-child {
    display: flex;
  }
}
.show__details {
  padding-left: 1rem;
  width: 100%;
}
@media (max-width: 677px) {
  .show__details {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 678px) {
  .show__details {
    padding-bottom: 2.25rem;
    padding-top: 2.25rem;
  }
}
@media (min-width: 678px) {
  .show:first-child .show__details {
    border: none;
    padding-bottom: 0;
  }
}
@media (min-width: 678px) {
  .show:not(:first-child) .show__details .details__heading {
    display: none;
  }
}
.show__cta {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}
@media (min-width: 678px) {
  .show__cta {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

.highlighted {
  background: orange;
}

.btn--buy-tickets {
  text-align: center;
  background: #323232;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  height: 40px;
  line-height: 20px;
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 678px) {
  .btn--buy-tickets {
    padding: 0 32px;
    width: 150px;
  }
}
.btn--buy-tickets:hover {
  background: #000;
  color: #fff;
}
@media screen and (min-width: 678px) {
  .btn--buy-tickets {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 677px) {
  .details__heading {
    padding-bottom: 1rem;
    padding-top: 0;
  }
}
@media (min-width: 678px) {
  .details__heading {
    padding-bottom: 2.25rem;
    padding-top: 0;
  }
}/*# sourceMappingURL=shows.css.map */