@use "./partials/global" as *;
@use "./partials/variables" as *;

// Hero Section
.hero {
  @include padding-between-components-top($default-padding-top: 2rem);
  @include padding-between-components-bottom($padding-bottom-mobile: 2rem);
  background: url("../assets/images/hero-shows.jpg") center center / cover;
  color: $white;
  position: relative;
  width: 100%;
  // border: 2px solid red;

  @media screen and (min-width: $tablet-width) {
    height: calc(100vh - 6rem);
  }

  &__image-description {
    display: none;
  }
  
  &__image-overlay {
    background: $hero-image-overlay-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content-container {
    // border: 2px solid green;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    // @include padding-between-components-gap;
    height: calc(50vh - 3rem);
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: min(100%, $desktop-width);
    z-index: 2;
    height: 100%;

    // @media screen and (min-width: $tablet-width) {
    //   border: 2px solid orange;
    // }
    
    @media screen and (min-width: $desktop-width) {
      // border: 2px solid blue;
      flex-direction: row;
      align-items: center;
    }

  }
}

// .hero__text-container {
//   border: 3px dotted #000;
// }

.hero__page-header,
.hero__sub-header {
  @include padding-before-headlines;
}

.hero__page-header {
  @include page-header($line-height-mobile: 2);
  // border: 2px solid red;
  max-width: 60%;

  @media screen and (min-width: $tablet-width) {
    max-width: min(90%, 40rem);
  }
}

.hero__sub-header {
  @include padding-between-components-bottom;
  @include sub-header($font-size-mobile: 1.25rem, $font-size-tablet: 2.5rem);
  // border: 2px solid blue;
}

.hero__song {
  @include padding-inline(1.5rem);
  @include padding-between-components-top(2.5rem);
  width: 100%; 
  height: 150px;
  
  @media screen and (min-width: $tablet-width) {
    width: 50%;
  }
  
  @media screen and (min-width: $desktop-width) {
    max-width: 40rem;
  }
}

// Shows Section

.shows {
  // border: 2px solid red;
  width: 100%;
  @include padding-inline;
  @include padding-block($padding-top-mobile: 0rem);

}

.shows__content-container {
  // border: 2px solid green;
  width: min(100%, $desktop-width);
  margin: 0 auto;
  // justify-content: center;
  
  @media screen and (min-width: $tablet-width) {
  }
  
  @media screen and (min-width: $desktop-width) {
    display: flex;
    // background: green;
    
    // border: 3px dotted #000;
    // justify-content: space-between;
  }
}

.shows-container {
  // border: 5px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
    
  @media screen and (min-width: $tablet-width) {
  }
  
  @media screen and (min-width: $desktop-width) {
    @include margin-inline(
      $margin-right-mobile: 0, $margin-right-tablet: 0
    )
  }
}

.shows__heading {
  @include padding-block;
  @include page-header(
    $font-size-mobile: 1.5rem, $font-size-tablet: 3rem, $font-weight-mobile: 600, $font-weight-tablet: 600
    );
  padding-left: 1rem;
  width: 20%;
}


.show {
  @include divider;
  // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;

  &:not(:first-child):hover {
    transition: all 0.5s ease;
    background: orange;;
  }

  &:first-child {
    display: none;
  }
  
  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    // width: 100%;
  }
  
  @media screen and (min-width: $desktop-width) {
    
    // max-width: 40rem;
    &:first-child {
      display:flex;
    }
  }
}

.highlighted {
    background: orange;
}


.show__details {
  @include padding-block;
  padding-left: 1rem;
  // border: 2px solid green;
  width: 100%;
}

.show__cta {
  width: 100%;
  
  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    // justify-content: space-between;
    // align-items: center;
    // width: 100%;
  }
  
  @media screen and (min-width: $desktop-width) {
    // max-width: 40rem;
  }
}


.btn--buy-tickets {
  text-align: center;
  @include btn;
  color: $white;
  padding: 1rem 0; 
  display: block;
    
  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (min-width: $desktop-width) {
    // max-width: 40rem;
  }
}

.details__heading {
  @include padding-block($padding-top-mobile: 0, $padding-top-tablet: 0);

}

.show:not(:first-child) {
  @media screen and (min-width: $desktop-width) {
    // max-width: 40rem;
    
    .show__details {
      
      .details__heading {
        display: none;
        
      }
    }
  }
}